In [34]:
# imports
import pandas as pd
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
# path to dataset
file_path = Path("/Users/Emily/downloads/cleaned_airbnb_dataset2.csv")
airbnb2_df = pd.read_csv(file_path)
airbnb2_df.head()

,room_id,host_id,host_is_superhost,property_type,room_type,neighborhood,accommodates,bedrooms,bathrooms,latitude,longitude,reviews,price,cleaning_fee,total
0,958,1169,t,Apartment,Entire home/apt,Western Addition,3,1.0,1.0,37.76931,-122.43386,217,170.0,100.0,270.0
1,3850,4921,t,House,Private room,Inner Sunset,2,1.0,1.0,37.75402,-122.45805,160,99.0,10.0,109.0
2,5858,8904,f,Apartment,Entire home/apt,Bernal Heights,5,2.0,1.0,37.74511,-122.42102,111,235.0,100.0,335.0
3,7918,21994,t,Apartment,Private room,Haight Ashbury,2,1.0,4.0,37.76669,-122.45250,18,65.0,50.0,115.0
4,8142,21994,t,Apartment,Private room,Haight Ashbury,2,1.0,4.0,37.76487,-122.45183,8,65.0,50.0,115.0

In [32]:
airbnb2_df.dtypes

room_id                int64
host_id                int64
host_is_superhost     object
property_type         object
room_type             object
neighborhood          object
accommodates           int64
bedrooms             float64
bathrooms            float64
latitude             float64
longitude            float64
reviews                int64
price                float64
cleaning_fee         float64
total                float64
dtype: object

In [5]:
# defining price 
X = airbnb2_df.copy()
X = X.drop("total", axis=1)
X.head()

,room_id,host_id,host_is_superhost,property_type,room_type,neighborhood,accommodates,bedrooms,bathrooms,latitude,longitude,reviews,price,cleaning_fee
0,958,1169,t,Apartment,Entire home/apt,Western Addition,3,1.0,1.0,37.76931,-122.43386,217,170.0,100.0
1,3850,4921,t,House,Private room,Inner Sunset,2,1.0,1.0,37.75402,-122.45805,160,99.0,10.0
2,5858,8904,f,Apartment,Entire home/apt,Bernal Heights,5,2.0,1.0,37.74511,-122.42102,111,235.0,100.0
3,7918,21994,t,Apartment,Private room,Haight Ashbury,2,1.0,4.0,37.76669,-122.45250,18,65.0,50.0
4,8142,21994,t,Apartment,Private room,Haight Ashbury,2,1.0,4.0,37.76487,-122.45183,8,65.0,50.0

Test Split Training

In [6]:
# defining target as total
# commenting out to re-use variables
# y = airbnb2_df["total"].values
# y[:5]

array([270., 109., 335., 115., 115.])

In [8]:
# trying split test training
# X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [9]:
# shaping the training tests
#print(X_train.shape)
#print(X_test.shape)
#print(y_train.shape)
#print(y_test.shape)
# result: not a helpful model

(6037, 14)
(2013, 14)
(6037,)
(2013,)

Random Forest Practice

In [28]:
# defining feature
X = airbnb2_df.copy()
X = X.drop("total", axis=1)
X.head()

,room_id,host_id,host_is_superhost,property_type,room_type,neighborhood,accommodates,bedrooms,bathrooms,latitude,longitude,reviews,price,cleaning_fee
0,958,1169,t,Apartment,Entire home/apt,Western Addition,3,1.0,1.0,37.76931,-122.43386,217,170.0,100.0
1,3850,4921,t,House,Private room,Inner Sunset,2,1.0,1.0,37.75402,-122.45805,160,99.0,10.0
2,5858,8904,f,Apartment,Entire home/apt,Bernal Heights,5,2.0,1.0,37.74511,-122.42102,111,235.0,100.0
3,7918,21994,t,Apartment,Private room,Haight Ashbury,2,1.0,4.0,37.76669,-122.45250,18,65.0,50.0
4,8142,21994,t,Apartment,Private room,Haight Ashbury,2,1.0,4.0,37.76487,-122.45183,8,65.0,50.0

In [29]:
# defining target
y = airbnb2_df["total"].ravel()
y[:5]

array([270., 109., 335., 115., 115.])

In [30]:
# splitting into training tests - round 2
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [33]:
# starting standard scale
scaler = StandardScaler()

# fit with training data
X_scaler = scaler.fit(X_train)

# scale!
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# research one_hot_encoder and maybe change the label encoder

ValueError: could not convert string to float: 't'

In [ ]:
#create the model
rf_model = RandomForestClassifier(n_estimators=128, random_state=78) 
rf_model = rf_model.fit(X_train_scaled, y_train)
prediction = rf_model.predict(X_test_scaled)
# then continue to confusion matrix